<form>
  Name:<br>
  <input type="text" name="name"><br>
  Description:<br>
  <input type="text" name="description"><br>
  Preparation time:<br>
  <input type="text" name="preptime"><br>
  Difficulty:<br>
  <input type="text" name="difficulty"><br>
</form>
